html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 100px;
  background-color: #f7f7f7;
  height: 1200px;
}
